chapter_*.html
appendix_*.html
preface.html
prologue.html
.venv
.mypy_cache
.env
abstractions.html
part2.html
part1.html
acknowledgements.html
.asciidoctor
epilogue_1_how_to_get_there_from_here.html
epilogue_2_footguns.html
images/*.html
