/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url("//fonts.googleapis.com/css?family=Noto+Sans:300,600italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700");
@import url(//asciidoctor.org/stylesheets/asciidoctor.css); /* Default asciidoc style framework - important */

/* customisations by harry */

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

a.anchor {
    top: 0;
}

/* hide inline ditaa/plantuml source listings for images */
.image-source {
    display: none
}
/* make formal codeblocks a bit nicer */
.exampleblock > .content {
    padding: 2px;
    background-color: white;
    border: 0;
    margin-bottom: 2em;
}
.exampleblock .title {
    text-align: right;
}

/* prev/next chapter links at bottom of page */
.prev_and_next_chapter_links {
    margin: 10px;
}
.prev_chapter_link {
    float: left;
}
.next_chapter_link {
    float: right;
}


/* a few tweaks to existing styles */
#toc li {
    margin-top: 0.5em;
}

#footnotes hr {
    width: 100%;
}

/* end customisations by harry */


/* CUSTOMISATIONS */

/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */

:root{
--maincolor:#FFFFFF;
--primarycolor:#2c3e50;
--secondarycolor:#ba3925;
--tertiarycolor: #186d7a;
--sidebarbackground:#CCC;
--linkcolor:#b71c1c;
--linkcoloralternate:#f44336;
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */
h1{color:var(--primarycolor) !important;}

h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;}

.title{color:var(--tertiarycolor) !important; font-family:"Noto Sans",sans-serif !important;font-style: normal !important; font-weight: normal !important;}
p{font-family: "Noto Sans",sans-serif !important}

/* Table styles */
th{font-family: "Noto Sans",sans-serif !important}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}
