@charset "UTF-8";

/*--------Put Your Custom CSS Rules Below--------*/
/* Globally preventing code blocks from breaking across pages
pre { page-break-inside: avoid; } */

/* handling for elements to keep them from breaking across pages
.nobreakinside {
 page-break-inside: avoid; 
 page-break-before: auto;
 margin-top: 0 !important; 
 
} */

/*less space for pagebreaks */
.less_space {margin-top: 0 !important;}

section.less_space > h1:first-child { 
 margin-top: 0 !important; 
 
}

aside.less_space > h5:first-child { 
 margin-top: 0 !important; 
 
}

/* Allow Examples to have less space at top of page (STYL-1266) */
.less_space > h5:first-child {
 margin-top: 0 !important;
 padding-top: 0 !important;
}

/* Temporary fix to TOC spacing from Tools */
nav[data-type="toc"] li {
  margin-bottom: 0 !important;
}

/* harry rule to hide inline image sources */
.image-source {
    display: none !important;
}

/* Removing "Example X" labels from formal code block captions */
section[data-type="chapter"] div[data-type="example"] h5:before {
  content: none;
}

section[data-type="appendix"] div[data-type="example"] h5:before {
  content: none;
}

section[data-type="preface"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] section[data-type="chapter"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] section[data-type="appendix"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="example"] h5 {
 text-align: right !important;
 font-size: 9pt !important;
 margin-bottom: 0.5ex !important;
}
/*--- This oneoff overrides the code in https://github.com/oreillymedia/<name_of_theme>/blob/master/pdf/pdf.css---*/

figure div.border-box { border: none; }

/*----Uncomment to temporarily turn on code-eyballer highlighting (make sure to recomment after you build)

pre {
 background-color: yellow;
}
---*/

/*----Uncomment to turn on automatic code wrapping

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
----*/

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/

/* ----Uncomment to suppress duplicate page numbers in index entries
       WARNING: MAY CAUSE PDF BUILDS TO SEGFAULT

div[data-type="index"] {
  -ah-suppress-duplicate-page-number: true;
}

----*/
