/* harry rule to hide inline image sources */
.image-source {
    display: none !important;
}

/* Custom widths */
.width-10 { width: 10% !important; }
.width-20 { width: 20% !important; }
.width-30 { width: 30% !important; }
.width-40 { width: 40% !important; }
.width-50 { width: 50% !important; }
.width-60 { width: 60% !important; }
.width-70 { width: 70% !important; }
.width-75 { width: 75% !important; }
.width-80 { width: 80% !important; }
.width-90 { width: 90% !important; }
.width-full,
.width-100 { width: 100% !important; }
